build-image:
  stage: build
  tags:
    - docker-privileged-xl
  image: docker:27.3
  services:
    - docker:27.3-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker info
    - docker build -t $CI_REGISTRY_IMAGE:f203532094 .
    - docker push     $CI_REGISTRY_IMAGE:f203532094
  only:
    - master
