# Taken from:
# https://gitlab.cern.ch/gitlabci-examples/build_docker_image/-/blob/master/.gitlab-ci.yml?ref_type=heads#L54
stages:
  - test
  - build
  - reana
build-image:
  stage: build
  image: registry.cern.ch/quay.io/buildah/stable
  before_script:
    - sed -i 's/^driver = .*/driver = "vfs"/' /etc/containers/storage.conf
    - echo "$CI_REGISTRY_PASSWORD" | buildah login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - buildah bud  -t $CI_REGISTRY_IMAGE:e6a7276dd .
    - buildah push    $CI_REGISTRY_IMAGE:e6a7276dd
  only:
    - master
reana_workflow:
  stage: reana 
  image: $CI_REGISTRY_IMAGE:e6a7276dd
  script:
    - reana-client create -w cal-rx-run3 
    - reana-client upload -w cal-rx-run3 $(find . -name "test_*.py" -type f)
    - reana-client upload -w cal-rx-run3 $(find . -name "Snakefile" -type f)
    - reana-client upload -w cal-rx-run3 $(find . -name "setup.sh"  -type f)
    - reana-client start  -w cal-rx-run3 --follow
