# Taken from:
# https://gitlab.cern.ch/gitlabci-examples/build_docker_image/-/blob/master/.gitlab-ci.yml?ref_type=heads#L54
stages:
  - test
  - build-environment
  - build-analysis
environment:
  stage: build-environment
  image: registry.cern.ch/quay.io/buildah/stable
  before_script:
    - sed -i 's/^driver = .*/driver = "vfs"/' /etc/containers/storage.conf
    - echo "$CI_REGISTRY_PASSWORD" | buildah login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - buildah bud  -t $CI_REGISTRY_IMAGE:v6.5 -f docker/env.Dockerfile
    - buildah push    $CI_REGISTRY_IMAGE:v6.5
  only:
    - update_env 
analysis:
  stage: build-analysis
  image: registry.cern.ch/quay.io/buildah/stable
  before_script:
    - sed -i 's/^driver = .*/driver = "vfs"/' /etc/containers/storage.conf
    - echo "$CI_REGISTRY_PASSWORD" | buildah login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - buildah bud  -t $CI_REGISTRY_IMAGE:c3aa7d622 -f docker/ana.Dockerfile
    - buildah push    $CI_REGISTRY_IMAGE:c3aa7d622
  only:
    - issue-002 
