build-image:
  stage: build
  image: registry.cern.ch/quay.io/buildah/stable
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | buildah login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - buildah build bud -t $CI_REGISTRY_IMAGE:4a4d17b1a .
    - buildah push         $CI_REGISTRY_IMAGE:4a4d17b1a
  only:
    - master
