[MESSAGES CONTROL]
disable=logging-fstring-interpolation, too-few-public-methods, line-too-long

[MASTER]
init-hook='import sys; sys.path.append("/home/acampove/micromamba/envs/rx_run3/lib/python3.11/site-packages")'
