[tool.poetry]
name        = 'rx_orchestration'
version     = '0.0.1'
description = 'An orchestration project'
authors     = ['angel.campoverde@cern.ch']
readme      = 'README.md'
license     = 'MIT'
packages    = []

[tool.poetry.dependencies]
python      = '^3.12'
snakemake   = '*'

[build-system]
requires      = ['poetry-core>=1.6.0']
build-backend = 'poetry.core.masonry.api'
