[tool.poetry]
name        = 'rx_orchestration'
version     = '0.0.1'
description = 'An orchestration project'
authors     = ['angel.campoverde@cern.ch']
readme      = 'README.md'
license     = 'MIT'
packages    = [{include = 'workflows'}]

[[tool.poetry.include]]
path   = "configs/**/*.yaml"

[tool.poetry.dependencies]
python = '3.12.*'
law    = '^0.1.20'

[build-system]
requires      = ['poetry-core>=1.6.0']
build-backend = 'poetry.core.masonry.api'

[tool.poetry.scripts]
# ----------------
# Plotting
# ----------------
cutflow_law = 'workflows.plots.cutflow_law:main'
compare_law = 'workflows.plots.compare_law:main'
overlay_law = 'workflows.plots.overlay_law:main'
plot_2d_law = 'workflows.plots.plot_2d_law:main'
checks_law  = 'workflows.plots.checks_law:main'
# ----------------
# Classifier
# ----------------
train_law   = 'workflows.classification.train_law:main'
# ----------------
# Mass scales and resolutions
# ----------------
scales_law  = 'workflows.q2.scales_law:main'
