[tool.poetry]
name        = 'rx_orchestration'
version     = '0.1.0'
description = 'A Prefect orchestration project'
authors     = ['angel.campoverde@cern.ch']
readme      = 'README.md'
license     = 'MIT'

[tool.poetry.dependencies]
python      = '^3.11'
prefect     = '^3.16.2'
htcondor    = '^9.0.0'
pyyaml      = '^6.0'

[tool.poetry.dev-dependencies]
pytest      = '^7.4.0'
pytest-mock = '^3.11.0'

[build-system]
requires      = ['poetry-core>=1.6.0']
build-backend = 'poetry.core.masonry.api'
