[tool.poetry]
name = 'vector-stubs'
version = '0.0.1'
description = 'Type stubs for the scikit-hep/vector package'
authors = ['Angel Campoverde angelfcampoverde@gmail.com']
readme = 'README.md'
license = 'MIT'
packages = [
    { include = 'vector' }
]

[tool.poetry.dependencies]
python = '^3.10'

[build-system]
requires = ['poetry-core>=1.5.0']
build-backend = 'poetry.core.masonry.api'
