[project]
name        = 'rx_data'
description = 'Project with lists of LFNs and utilities needed to download filteres ntuples'
version     = '0.1.9'
readme      = 'README.md'
dependencies= [
'tqdm',
'xrootd',
'uproot',
'tabulate',
'mplhep',
'particle',
'vector',
'pandarallel',
'ecal_calibration',
'data_manipulation_utilities',
'ap_utilities'
]

[project.optional-dependencies]
dev  = ['pytest']

[tools.setuptools.packages.find]
where= ['src']

[project.scripts]
make_mva_joblist   ='rx_data_scripts.make_mva_joblist:main'
check_missing      ='rx_data_scripts.check_missing:main'
check_corrupted    ='rx_data_scripts.check_corrupted:main'
branch_calculator  ='rx_data_scripts.branch_calculator:main'
copy_samples       ='rx_data_scripts.copy_samples:main'
merge_samples      ='rx_data_scripts.merge_samples:main'
check_sample_stats ='rx_data_scripts.check_sample_stats:main'
dump_metadata      ='rx_data_scripts.dump_metadata:main'
download_rx_data   ='rx_data_scripts.download_rx_data:main'
make_tree_structure='rx_data_scripts.make_tree_structure:main'
list_triggers      ='rx_data_scripts.list_triggers:main'

[tool.setuptools.package-data]
'rx_data_lfns' = ['**/*.json']
'rx_data_data' = ['*/*.json', '*/*.yaml', '*/*.csv']
