[tool.poetry]
name        = 'rx_orchestration'
version     = '0.0.1'
description = 'An orchestration project'
authors     = ['angel.campoverde@cern.ch']
readme      = 'README.md'
license     = 'MIT'
packages    = [{include = 'workflows'}]

[[tool.poetry.include]]
path   = "configs/**/*.yaml"

[tool.poetry.dependencies]
python                      = '^3.12'
snakemake                   = '*'
prefect                     = '*'
#ap_utilities                = { git = 'ssh://git@gitlab.cern.ch:7999/rx_run3/ap_utilities.git'    , branch='master' }
#data-manipulation-utilities = { git = 'ssh://git@gitlab.cern.ch:7999/rx_run3/dmu.git'             , branch='master' }
#ecal_calibration            = { git = 'ssh://git@gitlab.cern.ch:7999/rx_run3/ecal_calibration.git', branch='master' }
#rx_selection                = { git = 'ssh://git@gitlab.cern.ch:7999/rx_run3/rx_selection.git'    , branch='master' }
#rx_data                     = { git = 'ssh://git@gitlab.cern.ch:7999/rx_run3/rx_data.git'         , branch='master' }
#rx_plots                    = { git = 'ssh://git@gitlab.cern.ch:7999/rx_run3/rx_plots.git'        , branch='master' }

[build-system]
requires      = ['poetry-core>=1.6.0']
build-backend = 'poetry.core.masonry.api'

[tool.poetry.scripts]
cutflow_law = 'workflows.plots.cutflow_law:main'
compare_law = 'workflows.plots.compare_law:main'
compare_prf = 'workflows.plots.compare_prf:main'
