[tool.poetry]
name         = 'rx_data'
description  = 'Project with lists of LFNs and utilities needed to download filteres ntuples'
version      = '0.1.9'
readme       = 'README.md'
package-mode = true 
packages     = [
{include='rx_data',      from='src'},
{include='rx_data_lfns', from='src'},
{include='rx_data_data', from='src'}]

[tool.poetry.package-data]
rx_data_data = ['**/*.yaml', '**/*.json', '**/*.csv']

[tool.poetry.dependencies]
python                     = '>=3.10,<3.13'
prefect                    = '^3.4.9'
tqdm                       = '*'
uproot                     = '*'
tabulate                   = '*'
mplhep                     = '*'
particle                   = '*'
vector                     = '*'
pandarallel                = '*'
ap_utilities               = {version = '*', allow-prereleases=true}
data-manipulation-utilities= {version = '*', allow-prereleases=true}
ecal_calibration           = {version = '*', allow-prereleases=true, optional=true}
pytest                     = {version = '*',                         optional=true}
xrootd                     = {version = '*',                         optional=true}

[tool.poetry.extras]
tst = ['pytest']           # When developing
net = ['xrootd']           # When doing things that require access to remote files
ci  = ['ecal_calibration'] # When running pipelines

[build-system]
requires      = [
    'poetry-core>=1.0.0',
    'poetry-dynamic-versioning>=1.0.0'
]
build-backend = 'poetry_dynamic_versioning.backend'

[tool.poetry-dynamic-versioning]
enable       = true
vcs          = 'git'
style        = 'pep440'
pattern      = 'default-unprefixed'
format-jinja = """
{%- if distance == 0 -%}
{{ base }}
{%- else -%}
{{ serialize_pep440(bump_version(base), dev=distance) }}
{%- endif -%}
"""

[tool.poetry.scripts]
make_mva_joblist   ='rx_data_scripts.make_mva_joblist:main'
check_missing      ='rx_data_scripts.check_missing:main'
check_corrupted    ='rx_data_scripts.check_corrupted:main'
branch_calculator  ='rx_data_scripts.branch_calculator:main'
copy_samples       ='rx_data_scripts.copy_samples:main'
merge_samples      ='rx_data_scripts.merge_samples:main'
check_sample_stats ='rx_data_scripts.check_sample_stats:main'
dump_metadata      ='rx_data_scripts.dump_metadata:main'
download_rx_data   ='rx_data_scripts.download_rx_data:main'
make_tree_structure='rx_data_scripts.make_tree_structure:main'
list_triggers      ='rx_data_scripts.list_triggers:main'
