pytest-cov
pytest-split
pytest-xdist
pre-commit
apd
awkward
awkward-pandas
bokeh
boost-histogram
colorama
dask[dataframe,distributed]
formulate
fsspec-xrootd
hist[plot]
jacobi
jinja2
joblib
law
logzero
matplotlib
memory-profiler
mplhep
numba
numexpr
numpy
omegaconf>=2.3.0
optuna
pandas
pandas-stubs
particle
pdg
pidcalib2
pyarrow
pydantic
PyYAML
pytest
pytest-xdist
python-slugify
pyYAML
reana-client==0.9.4
root
scikit-learn
scipy
seaborn
tabulate2
tensorflow
toml
tqdm
typer
types-tensorflow
uproot
vector
zfit==0.28.0
