pre-commit
-e src/ap_utilities
-e src/dmu
-e src/ecal_calibration
-e src/fitter
-e src/post_ap
-e src/root_stubs
-e src/rx_classifier
-e src/rx_common
-e src/rx_data
-e src/rx_efficiencies
-e src/rx_misid
-e src/rx_orchestration
-e src/rx_pid
-e src/rx_plots
-e src/rx_q2
-e src/rx_selection
-e src/vector_stubs
-e src/zfit-stubs
