output_directory : rare/rk/electron
component        : bpkpee
categories:
{% for block in range(1, 9) %}
  brem_xx1_b{{ block }}:
    selection : 
      brem : nbrem == 1
      block: block == {{ block }}
    model:
      pdfs :
        - dscb
      fix           : {}
      reparametrize :
        mu : scale
        sg : reso 
      shared        :
        - mu
        - sg
      floating      : []
      values :
        sg :
          - 40
          - 30
          - 50
  brem_xx2_b{{ block }}: 
    selection :
      brem : nbrem == 2
      block: block == {{ block }}
    model:
      pdfs :
        - dscb
      fix           : {}
      reparametrize :
        mu : scale
        sg : reso 
      shared        :
        - mu
        - sg
      floating      : []
      values :
        sg :
          - 40
          - 30
          - 120
{% endfor %}
fit:
  strategy  :
    pvalue : 0.05
    ntries : 10
plots:
  nbins   : 30
  stacked : True
  d_leg   : {}
